# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class
main.onefile-build/
main.dist/
main.build/

# Virtual environments
.venv/
env/
venv/
.quicktree/
quicktreecopy

# OS files
.DS_Store
Thumbs.db
nuitka.txt
# Ignore the QuickTreeCopy state file
.quicktree
